# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy - jpda-b2c-authz-admin-api

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.301'

    - name: Build with dotnet
      run: dotnet build --configuration Release .\\B2CAuthZ.Admin.WebApiHost\\B2CAuthZ.Admin.WebApiHost.csproj

    - name: dotnet publish
      run: dotnet publish -c Release .\\B2CAuthZ.Admin.WebApiHost\\B2CAuthZ.Admin.WebApiHost.csproj -o ${{env.DOTNET_ROOT}}/myapp

    - name: Upload artifact for deployment job
      uses: actions/upload-artifact@v2
      with:
        name: .net-app
        path: ${{env.DOTNET_ROOT}}/myapp

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Download artifact from build job
      uses: actions/download-artifact@v2
      with:
        name: .net-app

    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'jpda-b2c-authz-admin-api'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_cf34d7f4351743cc93b0f7604b445d9e }}
        package: .